<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>About us</title>
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto my-0">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.png" alt="about images" class="image-fluid" title="">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>I am <spam class="sp">MERN Stack </spam> developer and freelancer</h1>
                        <a href="https://www.youtube.com" target="_zkweatherapp"><button>About ZK</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>