<!--  navbar code -->
<div class="container-fluid">
    <div class="col-md-10 col-12 mx-auto">
        <nav class="navbar navbar-expand-lg bgc">
            <a class="navbar-brand bgc" href="/"><i class="fas fa-snowflake bgc"></i> ZK Weather App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse bgc" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto bgc">
                    <li class="nav-item active bgc">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link bgc" href="/weather">Weather</a>
                    </li>
                    <li class="nav-item bgc">
                        <a class="nav-link bgc" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>